/*
    CSS code shared across all the pages.
*/

/*########################
    FONTS
########################*/
@font-face {
    font-family: 'jumper_XBdIt';
    src: url('../media/font/Jumper/jumper-extra-bolditalic-webfont.woff2') format('woff2'),
    url('../media/font/Jumper/jumper-extra-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*
########################
    COLOR THEMES
########################
*/

/* TODO: Agree on site color palette */

/* Default */
body,body * {
    --accent: #E63946;
    --accent-darker: #ad2933;
    --bg: #ffffff;
    --bg-contrast: #c9c9c9;
    --bg-contrastt: #383838;
    --text: #333333;
    --contrast-text: #000000;
}

/* dark-theme */
body.dark-theme, body.dark-theme * {
    --accent: #E63946;
    --accent-darker: #ad2933;
    --bg: #1e1e1e;
    --bg-contrast: #565656;
    --bg-contrastt: #cbcbcb;
    --text: #cccccc;
    --contrast-text: #ffffff;
}

/*
########################
*/
body {
    background-color: var(--bg);
}

svg#logo {
    fill: var(--accent);
}

/* Sets the text color for every kind of text */
p,input,textarea,select, label,span,h1,h2,h3,h4,h5,h6 {
    color: var(--text)
}

#pageheader, #pageheader .container {
    background: var(--bg-contrastt);
}


#dark-mode-toggle {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
}

#alerts {
    position : absolute;

    width: 20%;

    right : 1vh;
    bottom: 1vh;
}
#alerts *{
    position : block;
}