/*
########################
    COLOR DEFINITIONS
########################
*/

.card.document {
    background: var(--bg);
    border: var(--text) 2px solid;
}
.card.document .card-footer {
    border-top: var(--contrast-text) 2px solid;
}

/*
########################
*/

input#search {
    border: 1px solid var(--bg-contrast);
    border-radius: 10px;
    padding: 5px 15px;
    height: 60px;
    min-width: 50vw;
    background-color: var(--bg);
    color: var(--text);

}

/* input#search:before {
    background-image: url('./images/search.svg');
    background-color: gray;
}

input#search:focus {
    border: 0px solid gray;
    box-shadow: 0 5px 5px gray;
} */



.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.card.document {
    margin: 10px;
    width: 12rem;
}

div.card div.card-body *{
    color: var(--contrast-text)
}

div.card div.card-footer *{
    display: inline-block;
    opacity: 0;
}
.card.document:hover .card-footer *{
    opacity: 1;
}

.card.document.document-create {
    display: flex;
    justify-content: center;
}
.card.document.document-create a {
    width: 40%;
    margin: 0 auto;
}

svg#logo {
    height: 3vmax;
}