/*
########################
    COLOR DEFINITIONS
########################
*/

body {
    display: flex;
    flex-direction: column;
    --bg-tool-bar: rgb(165, 165, 165);
    --bg-tool-bar-button: #007bff;
    --text-tool-bar-button: white;
    --bg-active-mode: rgb(200, 200, 200);
}

body.dark-theme, body.dark-theme * {
    --bg-tool-bar: rgb(44, 44, 44);
    --bg-active-mode: rgb(165, 165, 165);
}

.card.document {
    background: var(--bg);
    border: var(--text) 2px solid;
}
.card.document .card-footer {
    border-top: var(--contrast-text) 2px solid;
}

/*
########################
*/

input#search {
    border: 1px solid var(--bg-contrast);
    border-radius: 10px;
    padding: 5px 15px;
    height: 60px;
    min-width: 50vw;
    background-color: var(--bg);
    color: var(--text);

}


.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.card.document {
    margin: 10px;
    width: 12rem;
}

div.card div.card-body *{
    color: var(--contrast-text)
}

div.card div.card-footer *{
    display: inline-block;
    opacity: 0;
}
.card.document:hover .card-footer *{
    opacity: 1;
}

.card.document.document-create {
    display: flex;
    justify-content: center;
}
.card.document.document-create a {
    width: 40%;
    margin: 0 auto;
}

svg#logo {
    height: 3vmax;
}



/* ############################

    TOOLBAR

##############################*/

.tools-bar {
    margin-top: 0;
    background-color: var(--bg-tool-bar);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 4fr 28fr;
    flex-direction: row;
    height: 40px;
    align-items: center;
}

.tools-bar > * {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.switch-list-grid {
    border: 3px solid var(--text);
    display: flex;
    flex-direction: row;
}

.switch-list-grid > * {
    padding: 5px;
}

.list-view{
    border-left: 3px solid var(--text);
}

.list-view, .grid-view {
    flex: 1;
}

.active {
    background-color: var(--bg-active-mode);
}

.tools-bar .btn-secondary.dropdown-toggle {
    color: var(--text);
    background-color: var(--bg-tool-bar);
}

.tools-bar .btn-secondary.dropdown-toggle:hover {
    background-color: var(--bg);
}
#filters {
    padding: 10px;
}

#filters > article {
    display: flex;
    flex-direction: row;
}

#filters > article > label {
    flex: 97%;
}

#filters > article > input {
    margin-top: 5px;
    flex: 3%;
}

input[name="filter-submit"] {
    border-radius: 5px;
    background-color: var(--bg-tool-bar-button);
    color: var(--text-tool-bar-button);
    width: 100%;
    border: 0;
    opacity: 1;
}

input[name="filter-submit"]:hover {
    --bg-tool-bar-button: rgb(45, 84, 212);
}

.active-filters {
    display: flex;
    flex-direction: row;
}

.active-filters > * {
    flex: 1;
    margin-left: 2px;
    margin-right: 2px;
    border: 0;
    background-color: var(--bg-contrast);
    max-width: 50px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}






/* ############################

    GRID VIEW

##############################*/

.cards {
    margin: 10px;
    display: flex;
    flex-direction: row;
    /* display: none; */
    flex-wrap: wrap;
}

.cards .list-element.head {
    display: none;
}

.cards .card-element {
    width: 250px !important;
    max-height: 350px !important;
    margin: 10px;
    border-radius: 10px;
    padding:10px;

    display: grid;

    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr 0.5fr auto;
    box-shadow: -5px 5px 10px 5px var(--bg-contrast);

    grid-template-areas:
        "icon icon icon"
        "title title title"
        "date date date"
        "delete perms info";
}

.cards .card-element:hover {
    background-color: var(--bg-hover);
    transition: background-color 0.4s;
}


.cards .card-element > .actual-creation-date, .actual-edit-date, p.owner, span[class='info creation-date'] {
    display: none;
}


.cards .card-element  span.title {

    grid-area: title;
    font-size:  x-large;
    font-weight: bold;
}

.cards .card-element > #icon {
    grid-area: icon;
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.cards .card-element #icon img {
    height: 180px;
    padding: 10px;
}



.cards .card-element > span[class="info edit-date"] {
    grid-area: date;
    font-size: small;
    font-style: italic;
}

.cards .card-element a.delete {
    grid-area: delete;
}


.cards .card-element > a#end {
    grid-area: perms;
    text-align: right;
}

.cards .card-element > a#start {
    grid-area: info;
    text-align: right;
}


.cards .card-element > #content {
    display: none;
    margin: 10px;
    grid-area: content;
    font-family: monospace;
    font-size: small;
    
}

.cards .card-element > span[class="info owner"] {
    display: none;
}



.card-element a { 
    text-decoration: none;
    color: var(--text);
}

a:hover {
    text-decoration: none;
    color: var(--text);
}


/* ############################

    LIST VIEW

##############################*/

.list {
    margin: 10px;

    flex-direction: column;
}

.list .list-element.head {
    display: grid;
    margin: 10px -10px;
    padding: 20px;
    box-shadow: -5px 5px 10px 5px var(--bg-contrast);

    grid-template-columns: 50px 3fr 1fr 0.5fr 1fr 1fr 0.1fr;
    grid-template-areas: "icon title owner perms last-edit created delete";
    align-items: center;
}

.list .card-element {
    
    max-height: 350px !important;
    margin: 10px;
    border-radius: 10px;
    padding:10px;

    display: grid;

    grid-template-columns: 50px  3fr  1fr  0.5fr    1fr      1fr   0.1fr;
    grid-template-areas: "icon title owner perms last-edit created delete";
    
    box-shadow: -5px 5px 10px 5px var(--bg-contrast);
    align-items: center;
}

.list .card-element:hover {
    background-color: var(--bg-hover);
    transition: background-color 0.4s;
}


.list .card-element > .actual-creation-date, .actual-edit-date, p.owner {
    display: none;
}


.list .card-element > span.title {
    grid-area: title;
    font-size:  x-large;
    font-weight: bold;
}

.list .card-element #icon {
    grid-area: icon;
    margin-top: auto;
    margin-bottom: auto;
    
}

.list .card-element #icon img {
    padding: 6px;   
}


.list .card-element > span[class="info edit-date"] {
    grid-area: last-edit;
    font-size: small;
    font-style: italic;
}


.list .card-element .info.creation-date {
    display: block;
    grid-area: created;
    font-size: small;
    font-style: italic;
}


.list .card-element a.delete {
    grid-area: delete;
    text-align: right;
    padding-right: 20px;
}


.list .card-element > a#end {
    grid-area: perms;
}

.list .card-element > a#start {
    display: none;
}


.list .card-element > #content {
    display: none;
    margin: 10px;
    grid-area: content;
    font-family: monospace;
    font-size: small;
    
}

.list .card-element .info.owner {
    grid-area: owner;
}