html {
    overflow: scroll;
}

.document-view {
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 10%;
    border-radius: 5px;
    border: 1px solid #dddddd;
    box-shadow: -15px 10px 30px 15px var(--shadow);
    background: white;
}

.action-icons {
    font-size: 1.3rem;
    color: var(--text);
}

.action-icons i.action {
    padding: 4px;
    margin-right: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s;
}

.action-icons i.action.active {
    color: var(--accent);
    background-color: var(--bg-contrast);
    transition: all 0.1s;
}

.action-icons i.action.disabled {
    cursor: auto;
    color: var(--bg-contrast);
    background-color: var(--bg);
    transition: all 0.1s;
}

.action-icons i.action:hover {
    background-color: var(--bg-hover);
    transition: all 0.1s;
}

.action-icons i.action.active:hover {
    color: var(--accent);
    background-color: var(--bg-contrast);
    transition: all 0.1s;
}

.action-icons i.action.disabled:hover {
    color: var(--text);
    transition: all 0.1s;
    background-color: var(--bg-hover);
}

.dropdown-toggle#headingMenu {
    background-color: var(--bg);
    color: var(--text);
    width: 110px;
    border-radius: 5px;
    border: 2px solid var(--text);
}

#action-pick-color {
    background-color: var(--bg);
    border: none;
    cursor: pointer;
    width: 35px;
    height: 25px;
}

.ProseMirror:focus {
    outline: none;
}

.ProseMirror img {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.editor-tools {
    position: -webkit-sticky;
    position: sticky;
    margin-top: -20px;
    top: 80px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border-radius: 0  0 20px 20px; */
    background-color: var(--bg);
    /* box-shadow: 0 20px 20px 0 var(--shadow); */
    box-shadow: 0px 6px 8px 0px var(--shadow);

    margin-bottom: 20px;
}

.editor-tools #actions {
    min-width: 620px;
    max-width: 60%;
}

.ProseMirror {
    white-space: pre-wrap;
}

.ProseMirror * {
    color: black;
}

.ProseMirror p * {
    font-size: 16px;
}

.ProseMirror .cursor {
    position: relative;
    display: inline-block;
    height: 1.2em
}

.ProseMirror .cursor::before {
    content: '';
    display: block;
    width: 2px;
    height: 120%;
    position: absolute;
    top: 0.15em;
    left: -1px;
    z-index: 1;
}

.ProseMirror .selection {
    position: relative;
}
table.table {
    table-layout: fixed;
    width: 100%;
    
}

table.table td.perm {
    width:30%;
}

table.table td {
    vertical-align: bottom;
}

#no_user {
    width: 100%;
    color: red;
    text-align: right;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    padding-right: 40px;
    padding-top: 6px;
} 

@media only screen and (max-width: 1000px) {
    .document-view {
        margin-right: 5%;
        margin-left: 5%;
    }
    .editor-tools #actions {
        max-width: 90%;
    }
}