html, body {
    height: 100%;
}

/*
########################
    COLOR DEFINITIONS
########################
*/

.login-form input[type="submit"] {
    background: var(--accent);
}
body, .login-form input {
    background-color: var(--bg);
}

/*
########################
*/

body {
    display: flex;
    align-items: center;
}

main.login-form {
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.login-form input {
    color: var(--text);
}

.login-form input:active, .login-form input:focus {
    background-color: var(--bg);
    color: var(--text);
}


/* Both login and register forms */
.login-form input#username {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Both login and register forms */
.login-form input#password, .login-form input#confirmPassword {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Only register form */
.login-form input#newPassword, .login-form input#email {
    margin-bottom: -1px;
    border-radius: 0;
}

/* Both login and register forms */
.login-form input[type="submit"] {
    margin-top: 15px;
    margin-bottom: 10px;
}

.btn-lg {
    border: none;
}


div#logo {
    background-image: var(--logo-notebook);
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
}

.dark-mode {
    position: fixed;
    bottom: 1vh;
    margin-left: 20px;
}